# deps & builds
node_modules/
dist/
.out/
*.log

# env & secrets
.env
.env.*
*.env
.env.local
.env.production
.env.development

# Docker artifacts
*.pid
*.seed
*.db
tmp/
coverage/

# editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
